/* CSS Variables */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --sepia: 10px;
}

.photo {
  padding: var(--spacing);
  background: var(--base);
  filter: sepia(var(--sepia));
}

.hl {
  color: var(--base);
}

/*
    misc styles, nothing to do with CSS variables
  */

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

.photo {
  width: 70vw;
}

input {
  width: 100px;
}

.footer {
  height: 85px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.footer-text {
  color: var(--base);
  font-size: 1.4rem;
  font-weight: lighter;
  text-decoration: none;
  cursor: hand;
}
